<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.12.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="Web Site Builder Description">
  
  <title>register</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="mbr-section form1 cid-rPgfUaCyaX" id="form1-u">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    Registeration 
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    Please help us out with your details.
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <form action="/page3" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="vMqs+NfG1JHv7h6Mp/Jwtu7Qvn6WQUmOW6L1CqasjxEuB1VUDkNt0ov3+KLPF6MlBjrEn7xvW4iN0e8izwocN9/zaUnQVQ2gpZsm0SxOdqI6D56JcwDk+YEJXkPFSn0V">
                    
                    <div class="dragArea row">
                        <div class="col-md-4  form-group" data-for="name">
                            <label for="name-form1-u" class="form-control-label mbr-fonts-style display-7">Name</label>
                            <input type="text" name="name" data-form-field="Name" required="required" class="form-control display-7" id="name-form1-u">
                        </div>
                        
                        <div data-for="phone" class="col-md-4  form-group">
                            <label for="phone-form1-u" class="form-control-label mbr-fonts-style display-7">Phone</label>
                            <input type="tel" name="phone" data-form-field="Phone" class="form-control display-7" id="phone-form1-u">
                        </div>
                        

                        <div data-for="Department" class="col-md-4  form-group">
                            <label for="phone-form1-u" class="form-control-label mbr-fonts-style display-7">Department</label>
                            <input type="text" name="department" data-form-field="Phone" class="form-control display-7" id="phone-form1-u">
                        </div>

                        <div data-for="email" class="col-md-4  form-group">
                            <label for="phone-form1-u" class="form-control-label mbr-fonts-style display-7">Email Id</label>
                            <input type="email" name="email" data-form-field="Phone" class="form-control display-7" id="phone-form1-u">
                        </div>

                        <div data-for="password" class="col-md-4  form-group">
                            <label for="phone-form1-u" class="form-control-label mbr-fonts-style display-7">Password</label>
                            <input type="password" name="password" data-form-field="Phone" class="form-control display-7" id="phone-form1-u">
                        </div>
<!--                    
                     <div class="col-md-12 input-group-btn align-center"><button type="submit" class="btn btn-primary btn-form display-4" a href=""> Register</button></div> -->
                    <div class = "col-md-12 input-group-btn align-center"><button type = "submit" class = "btn btn-primary btn-form display-4"><a href="/page3">REGISTER</a></button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    
    
    <!-- <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">           
            </div>
        </div>
    </div>
</section> -->


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>
  <script src="app.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
  </body>
</html>