<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v4.12.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.12.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="Website Builder Description">
  
  <title>Questionaire</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="services5 cid-rPh92p2F5A" id="services5-18">
    <!---->
    
    <!---->
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left mbr-fonts-style m-0 display-1"><strong>SURVEY</strong><br></h2>
                
            </div>
            <!--Card-1-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Age</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5"></p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                <input type="radio" name="a1" value="1">0-20</input><br>
                            <input type="radio" name="a2" value="2">21-30</input><br>
                            <input type="radio" name="a3" value="3">31-65</input><br>
                            <input type="radio" name="a4" value="4">66-100</input><br>
                            </p>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-2-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Gender</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a5" value="5">Male</input><br>
                            <input type="radio" name="a6" value="6">Female</input><br>
                            <input type="radio" name="a7" value="7">Trans</input><br>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-3-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Are you self-employed?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a8" value="8">No</input><br>
                            <input type="radio" name="a9" value="9">Yes</input><br>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-4-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Do you have a family history of mental illness?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a10" value="10">No</input><br>
                            <input type="radio" name="a11" value="11">Yes</input><br>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-5-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Have you sought treatment for a mental health condition?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a12" value="12">No</input><br>
                            <input type="radio" name="a13" value="13">Yes</input><br>
                        </div>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-6-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">If you have a mental health condition, do you feel that it interferes with your work?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a14" value="14">Don't know</input><br>
                            <input type="radio" name="a15" value="15">Never</input><br>
                            <input type="radio" name="a16" value="16">Often</input><br>
                            <input type="radio" name="a17" value="17">Rarely</input><br>
                            <input type="radio" name="a18" value="18">Sometimes</input><br>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-7-->
            
            <!--Card-8-->
            
            <!--Card-9-->
            
            <!--Card-10-->
            
            <!--Card-11-->
            
            <!--Card-12-->
            
        </div>
    </div>
</section>

<section class="engine"><a href="https://mobirise.info/k">develop your own website</a></section><section class="services5 cid-rPhaz5DO0L" id="services5-19">
    <!---->
    
    <!---->
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left mbr-fonts-style m-0 display-1"></h2>
                
            </div>
            <!--Card-1-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">How many employees does your company or organization have?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a19" value="19">100-500</input><br>
                            <input type="radio" name="a20" value="20">500-1000</input><br>
                            <input type="radio" name="a21" value="21">More than 1000</input><br>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-2-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">&nbsp;Is your employer primarily a tech company/organization?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a17" value="17">No</input><br>
                            <input type="radio" name="a17" value="17">Yes</input><br>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-3-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Does your employer provide mental health benefits?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a17" value="17">No</input><br>
                                <input type="radio" name="a17" value="17">Yes</input><br>
                            </p>
                           
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-4-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Do you know the options for mental health care you can access?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a18" value="18">No</input><br>
                            <input type="radio" name="a19" value="19">Not sure</input><br>
                            <input type="radio" name="a20" value="20">Yes</input><br>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-5-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Has your employer ever discussed mental health as part of an employee wellness program?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a21" value="21">Don't know</input><br>
                                <input type="radio" name="a22" value="22">No</input><br>
                                <input type="radio" name="a23" value="23">Yes</input><br>
                            </p>
                           
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-6-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Are you provided resources to learn more about mental health issues and how to seek help?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a24" value="24">Don't know</input><br>
                                <input type="radio" name="a25" value="25">No</input><br>
                                <input type="radio" name="a26" value="26">Yes</input><br>
                            </p>
                           
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-7-->
            
            <!--Card-8-->
            
            <!--Card-9-->
            
            <!--Card-10-->
            
            <!--Card-11-->
            
            <!--Card-12-->
            
        </div>
    </div>
</section>

<section class="services5 cid-rPhbQJJt1b" id="services5-1a">
    <!---->
    
    <!---->
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left mbr-fonts-style m-0 display-1"></h2>
                
            </div>
            <!--Card-1-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a27" value="27">Don't know</input><br>
                                <input type="radio" name="a28" value="28">No</input><br>
                                <input type="radio" name="a29" value="29">Yes</input><br>
                            </p>
                           
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-2-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">How easy is it for you to take medical leave for a mental health condition?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a30" value="30">Don't know</input><br>
                                <input type="radio" name="a31" value="31">Somewhat difficult</input><br>
                                <input type="radio" name="a32" value="32">Somewhat easy</input><br>
                                <input type="radio" name="a33" value="33">Very difficult</input><br>
                                <input type="radio" name="a34" value="34">Very Easy</input><br>
                            </p>
                           
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-3-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Do you think that discussing a mental health issue with someone would have negative consequences?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a35" value="35">Maybe</input><br>
                            <input type="radio" name="a36" value="36">No</input><br>
                            <input type="radio" name="a37" value="37">Yes</input><br>
                            
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-4-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Do you think that discussing a physical health issue with someone would have negative consequences?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a38" value="38">Maybe</input><br>
                            <input type="radio" name="a39" value="39">No</input><br>
                            <input type="radio" name="a40" value="40">Yes</input><br>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-5-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">&nbsp;Would you be willing to discuss a mental health issue with your coworkers?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a41" value="41">No</input><br>
                                <input type="radio" name="a42" value="42">Some of them</input><br>
                                <input type="radio" name="a43" value="43">Yes</input><br>
                            </p>
                           
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-6-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Would you be willing to discuss a mental health issue with your direct supervisor(s)?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a44" value="44">No</input><br>
                            <input type="radio" name="a45" value="45">Some of them</input><br>
                            <input type="radio" name="a46" value="46">Yes</input><br>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="services5 cid-rPhcnBX7z8" id="services5-1b">
    <!---->
    
    <!---->
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left mbr-fonts-style m-0 display-1"></h2>
                
            </div>
            <!--Card-1-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Would you bring up a mental health issue with a potential employer in an interview?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a47" value="47">Maybe</input><br>
                            <input type="radio" name="a48" value="48">No</input><br>
                            <input type="radio" name="a49" value="49">Yes</input><br>
                            </p>
                            
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-2-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Do you take mental health as seriously as physical health?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                <input type="radio" name="a50" value="50">Don't know</input><br>
                            <input type="radio" name="a51" value="51">No</input><br>
                            <input type="radio" name="a52" value="52">Yes</input><br>
                            </p>
                            
                        </div>
                        <!-- <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div> -->
                    </div>
                </div>
            </div>
            <!--Card-3-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                            <input type="radio" name="a53" value="53">Don't know</input><br>
                            <input type="radio" name="a54" value="54">No</input><br>
                            <input type="radio" name="a55" value="55">Yes</input><br>
                            </p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-4-->
            <div class="card px-3 col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Any additional notes or comment</h4>
                            <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                            <input type="text" name="a56" value=""></input><br>
                            
                            </p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style m-0 b-descr display-7"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-5-->
            
            <!--Card-6-->
            
            <!--Card-7-->
            
            <!--Card-8-->
            
            <!--Card-9-->
            
            <!--Card-10-->
            
            <!--Card-11-->
            
            <!--Card-12-->

            <button type = "submit" class = "btn btn-primary btn-form display-4"><a href="">SUBMIT</a></button>
            
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="app.js"></script>
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
  </body>
</html>